footer.footer
  .container
    .row
      .col-md-8
        strong
          | About Foody
        |         
        p
          | Fooody was built to demonstrate the Translation Exchange Localization Platform. The source code is available on our Github Account
        |         
        a(href='http://translationexchange.com')
          | Learn more about Translation Exchange
      |       
      .col-md-4.text-right
        | Translation Exchange, Inc.
